:root {
  --bg-primary: #fdf2e0;
  --bg-primary-light: #f0bf99;
  --bg-secondary: #788a68;
  --bg-secondary-light: #a3b185;
  --bg-accent: #d59363;
  --bg-complimentary: #bc9b0a;
}

/* Background utilities */
.bg-primary {
  background-color: var(--bg-primary);
}
.bg-primary-light {
  background-color: var(--bg-primary-light);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-secondary-light {
  background-color: var(--bg-secondary-light);
}
.bg-accent {
  background-color: var(--bg-accent);
}
.bg-complimentary {
  background-color: var(--bg-complimentary);
}
/* Text color utilities */
.text-primary {
  color: var(--bg-primary);
}
.text-secondary {
  color: var(--bg-secondary);
}
.text-accent {
  color: var(--bg-accent);
}
.text-primary-light {
  color: var(--bg-primary-light);
}
.text-secondary-light {
  color: var(--bg-secondary-light);
}

/* Add hover utilities */
.hover\:text-accent:hover {
  color: var(--bg-accent);
}
.hover\:text-orange-500:hover {
  color: #f97316;
}

/* Font utilities */
.text-body {
  font-family: var(--font-nunito), sans-serif;
  font-size: clamp(1rem, 1.5vw + 0.5rem, 1.25rem);
  line-height: 1.5;
  font-weight: 400;
}

.text-heading {
  font-family: var(--font-quicksand), sans-serif;
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  line-height: 1.2;
  font-weight: 700;
  color: var(--bg-primary);
  text-align: center;
}

.text-sub-heading {
  font-family: var(--font-nunito), sans-serif;
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
  line-height: 1;
  font-weight: 400;
}

/* (Optional) Add spacing utilities */
.p-4 {
  padding: 1rem;
}
.m-4 {
  margin: 1rem;
}
