:root {
  --bg-primary: #fdf2e0;
  --bg-primary-light: #f0bf99;
  --bg-secondary: #788a68;
  --bg-secondary-light: #a3b185;
  --bg-accent: #d59363;
  --bg-complementary: #bc9b0a;
}

/* Background utilities */
.bg-primary {
  background-color: var(--bg-primary);
}

.bg-primary-light {
  background-color: var(--bg-primary-light);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-secondary-light {
  background-color: var(--bg-secondary-light);
}

.bg-accent {
  background-color: var(--bg-accent);
}

.bg-complementary {
  background-color: var(--bg-complementary);
}

/* Text color utilities */
.text-primary {
  color: var(--bg-primary);
}

.text-secondary {
  color: var(--bg-secondary);
}

.text-secondary-light {
  color: var(--bg-secondary-light);
}

.text-accent-dark {
  color: var(--bg-accent-dark);
}

.text-accent {
  color: var(--bg-accent);
}

.text-primary-light {
  color: var(--bg-primary-light);
}

.text-secondary-light {
  color: var(--bg-secondary-light);
}

/* Add hover utilities */
.hover\:text-accent:hover {
  color: var(--bg-accent);
}

.hover\:text-orange-500:hover {
  color: #f97316;
}

/* (Optional) Add spacing utilities */
.p-4 {
  padding: 1rem;
}

.m-4 {
  margin: 1rem;
}