@import "tailwindcss";
@import "../styles/theme.css";
@import "tw-animate-css";

html {
  color-scheme: light !important;
  -webkit-app-region: no-drag;
}

html[data-darkreader-mode],
html[data-darkreader-scheme] {
  color-scheme: light !important;
}

[data-darkreader-mode] * {
  color-scheme: light !important;
}
/* Add these more specific rules to your globals.css */

/* Force light theme at the root level */
:root {
  color-scheme: light !important;
  -webkit-color-scheme: light !important;
}

/* Target Dark Reader's injected elements directly */
style[class*="darkreader"] {
  display: none !important;
}

.darkreader {
  display: none !important;
}

/* Prevent Dark Reader from modifying any elements */
*[data-darkreader-mode] {
  filter: none !important;
}

*[data-darkreader-scheme] {
  filter: none !important;
}

/* Force your theme colors on all elements */
* {
  --darkreader-inline-bgcolor: unset !important;
  --darkreader-inline-color: unset !important;
  --darkreader-inline-fill: unset !important;
  --darkreader-inline-stroke: unset !important;
  --darkreader-inline-border: unset !important;
  --darkreader-inline-border-bottom: unset !important;
  --darkreader-inline-border-left: unset !important;
  --darkreader-inline-border-right: unset !important;
  --darkreader-inline-border-top: unset !important;
  --darkreader-inline-outline: unset !important;
}

/* Ensure your background colors take precedence */
body {
  /* background-color: var(--bg-primary) !important; */
  background: darkslategrey;
}
* {
  --darkreader-inline-bgcolor: unset !important;
  --darkreader-inline-color: unset !important;
  --darkreader-inline-fill: unset !important;
  --darkreader-inline-stroke: unset !important;
}

.theme-light {
  --font-quicksand: "Quicksand", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --radius: 0.625rem;

  --background: oklch(100% 0 0);
  --foreground: oklch(14.5% 0 0);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(14.5% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(14.5% 0 0);
  --muted: oklch(97% 0 0);
  --muted-foreground: oklch(55.6% 0 0);
  --border: oklch(92.2% 0 0);
  --input: oklch(92.2% 0 0);
  --ring: oklch(70.8% 0 0);

  --chart-1: oklch(64.6% 0.222 41.116);
  --chart-2: oklch(60% 0.118 184.704);
  --chart-3: oklch(39.8% 0.07 227.392);
  --chart-4: oklch(82.8% 0.189 84.429);
  --chart-5: oklch(76.9% 0.188 70.08);

  --sidebar: oklch(98.5% 0 0);
  --sidebar-foreground: oklch(14.5% 0 0);
  --sidebar-primary: oklch(20.5% 0 0);
  --sidebar-primary-foreground: oklch(98.5% 0 0);
  --sidebar-accent: oklch(97% 0 0);
  --sidebar-accent-foreground: oklch(20.5% 0 0);
  --sidebar-border: oklch(92.2% 0 0);
  --sidebar-ring: oklch(70.8% 0 0);

  --bg-primary: #fdf2e0;
  --bg-primary-light: #f0bf99;
  --bg-secondary: #788a68;
  --bg-secondary-light: #a3b185;
  --bg-accent: #ca6c28;
  --bg-complementary: #bc9b0a;

  --primary: #fdf2e0;
  --primary-foreground: #f0bf99;
  --primary-light: #f0bf99;
  --secondary: #788a68;
  --secondary-light: #a3b185;
  --secondary-foreground: #a3b185;
  --accent: #ca6c28;
  --complementary: #bc9b0a;
  --bg-heading: #fff8a9;

  -webkit-app-region: no-drag;
  color-scheme: light !important;
}

body {
  font-family: var(--font-quicksand), sans-serif;
  overflow-x: hidden;
  /* @apply relative bg-[url(/img-2.jpg)] bg-cover bg-no-repeat bg-fixed; */
}

.site-bg-img-container:after {
  @apply fixed w-full z-0 h-full content-[''] bg-[#6e5327] opacity-80 inset-0;
}
.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}

.font-quicksand {
  font-family: var(--font-quicksand), sans-serif;
}

.link-lightning::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  border-radius: 5px;
  width: 0%;
  opacity: 1;
  background-color: var(--bg-secondary);
  transition: width 0.2s ease-out, opacity 0.2s ease-in;
}

.link-lightning:hover::after {
  width: 100%;
  opacity: 0.5;
}

.after-bottom-0::after {
  bottom: 0;
}

.hero-img-wrapper {
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  overflow: hidden;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-complementary: var(--complementary);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --bg-complementary: var(--complementary);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    scroll-behavior: smooth;
    @apply bg-background text-foreground;
  }

  :root {
    --animate-periodic-bounce: periodic-bounce 4s ease-in-out infinite;
  }

  @keyframes periodic-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20%);
    }
    50% {
      transform: translateY(10%);
    }
  }
}

.hero {
  @apply w-full h-[100vh] min-h-screen grid place-content-center;
}

.hero-title {
  font-family: var(--font-quicksand), sans-serif;
  font-size: max(2rem, min(2vw + 1rem, 3rem));
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.hero-sub-title {
  font-family: var(--font-nunito), sans-serif;
  font-size: clamp(0.8rem, 0.5vw + 1rem, 1.5rem);
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
  @apply text-accent;
}

.section-name {
  @apply text-primary opacity-30;
}

.logo-container {
  container-type: inline-size;
  width: clamp(3rem, 8cqi, 6rem); /* Container query units */
}

.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Fallback for browsers without container query support */
@supports not (width: 1cqi) {
  .logo-container {
    width: clamp(3rem, 8vw, 6rem);
  }
}

.rounded-section {
  @apply flex max-w-[90%] p-8 md:p-16 mx-auto my-32 flex-col rounded-[3rem];
}
